:root :where(.acf-innerblocks-container) > :first-child,
:root :where(.wcl-container) > :first-child,
:root :where(.wcl-content) > :first-child {
  margin-block-start: 0;
}

:root :where(.acf-innerblocks-container) > :last-child,
:root :where(.wcl-container) > :last-child,
:root :where(.wcl-content) > :last-child {
  margin-block-end: 0;
}

:root :where(.acf-innerblocks-container) > *,
:root :where(.wcl-container) > *,
:root :where(.wcl-content) > * {
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Tilda Sans', sans-serif;
  font-size: 20px;
  line-height: 1.35;
  color: var(--dark-color);
  overflow-x: hidden;

  @media only screen and (max-width: $media-lg) {
    font-size: 18px;
  }
}

html.overflow-hidden,
body.overflow-hidden {
  overflow: hidden;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

input,
textarea {
  border-radius: 0; // Prevent IOS add border-radius by default to all input elements
}

a,
button {
  display: inline-block;
  transition: all .25s ease-in-out;
}

span {
  display: inline-block;
}

strong,
b {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.wcl-body-inner {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between
}

.wcl-container {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;

  @media only screen and (max-width: $media-xl) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media only screen and (max-width: $media-sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/** Heading */
h1,
.wcl-h1,
h2,
.wcl-h2,
h3,
.wcl-h3,
h4,
.wcl-h4,
h5,
.wcl-h5,
h6,
.wcl-h6 {
  font-weight: 700;
  line-height: 1.5;
}

h1,
.wcl-h1 {
  font-size: 3rem;
}

h2,
.wcl-h2 {
  font-size: 2.25rem;
}

h3,
.wcl-h3 {
  font-size: 1.875rem;
}

h4,
.wcl-h4 {
  font-size: 1.5rem;
}

h5,
.wcl-h5 {
  font-size: 1.25rem;
}

h6,
.wcl-h6 {
  font-size: 1.125rem;
}

.grecaptcha-badge {
  z-index: 9;
}
