:root :where(.acf-innerblocks-container) > :first-child,
:root :where(.wcl-container) > :first-child,
:root :where(.wcl-content) > :first-child {
    margin-block-start: 0;
}

:root :where(.acf-innerblocks-container) > :last-child,
:root :where(.wcl-container) > :last-child,
:root :where(.wcl-content) > :last-child {
    margin-block-end: 0;
}

:root :where(.acf-innerblocks-container) > *,
:root :where(.wcl-container) > *,
:root :where(.wcl-content) > * {
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Onest', sans-serif;
    font-size: 18px;
    line-height: 1.35;
    color: var(--dark-color);
    background-color: var(--white-color);
    overflow-x: hidden;

    &.lock {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}

.wcl-body-inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex-grow: 1;
}

.wcl-section,
.wcl-container {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;

    @media only screen and (max-width: $media-md) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.wcl-section-inner {
    width: 100%;
    max-width: 1326px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1,
.wcl-h1,
h2,
.wcl-h2,
h3,
.wcl-h3,
h4,
.wcl-h4,
h5,
.wcl-h5,
h6,
.wcl-h6 {
    font-weight: 500;
    line-height: 1.5;
}

h1,
.wcl-h1 {
    font-size: 3rem;

    @media only screen and (max-width: $media-md) {
        font-size: 2.5rem;
    }
}

h2,
.wcl-h2 {
    font-size: 2.25rem;

    @media only screen and (max-width: $media-md) {
        font-size: 2rem;
    }
}

h3,
.wcl-h3 {
    font-size: 1.875rem;

    @media only screen and (max-width: $media-md) {
        font-size: 1.75rem;
    }
}

h4,
.wcl-h4 {
    font-size: 1.5rem;

    @media only screen and (max-width: $media-md) {
        font-size: 1.375rem;
    }
}

h5,
.wcl-h5 {
    font-size: 1.25rem;

    @media only screen and (max-width: $media-md) {
        font-size: 1.125rem;
    }
}

h6,
.wcl-h6 {
    font-size: 1.125rem;

    @media only screen and (max-width: $media-md) {
        font-size: 1rem;
    }
}

img,
svg {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}

input,
textarea {
    border-radius: 0; // Prevent IOS add border-radius by default to all input elements
}

a,
button {
    display: inline-block;
    transition: all .25s ease-in-out;
}

span {
    display: inline-block;
}

strong,
b {
    font-weight: 700;
}

em {
    font-style: italic;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

.grecaptcha-badge {
    z-index: 9;
}