@import "assets/scss/utils/media";
@import "assets/scss/utils/mixings";

.wcl-contact {
    @include adaptiveValue("margin-top", 125, 50, 0, 1440, 375);
    @include adaptiveValue("margin-bottom", 55, 30, 0, 1440, 375);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-color);
        border-radius: 35px;
        padding: 75px 15px 85px;
        overflow: hidden;
        @include adaptiveValue("gap", 55, 25, 0, 1440, 375);

        @media screen and (max-width: 1920px) {
            border-radius: 0;
        }

        @media screen and (max-width: $media-md) {
            padding: 45px 15px 55px;
        }
    }

    &__header {
        width: 100%;
        max-width: 636px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    &__title {
        text-align: center;
        margin-bottom: 15px;
    }

    &__text {
        text-align: center;
    }

    &__body.wcl-section-inner {
        display: flex;
        gap: 24px;

        @media screen and (max-width: $media-lg) {
            flex-direction: column;
        }

        @media screen and (max-width: $media-sm) {
            padding: 0;
        }
    }

    &__form {
        width: 100%;
        max-width: calc(50% - 12px);
        background-color: var(--white-color);
        border-radius: 35px;
        padding: 45px 55px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $media-lg) {
            max-width: 100%;
            padding: 30px;
        }

        @media screen and (max-width: $media-sm) {
            padding: 30px 15px;
        }
    }

    &__form-title {
        margin-bottom: 25px;

        @media screen and (max-width: $media-lg) {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &__form-container {

        .wpcf7 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        .wpcf7-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;

            label {
                width: 100%;
                font-size: 14px;
                margin-top: 20px;
            }

            &__row {
                width: 100%;
                display: flex;
                column-gap: 10px;

                @media screen and (max-width: 1280px) {
                    flex-direction: column;
                }

                @media screen and (max-width: 1024px) {
                    flex-direction: row;
                }

                @media screen and (max-width: 650px) {
                    flex-direction: column;
                }
            }

            &__textarea.wpcf7-textarea {
                min-height: 100px;
                max-height: 250px;
                height: 135px;
                border: 1px solid #3d7e7180;
                border-radius: 15px;
                font-family: var(--font-onest);

                &::placeholder {
                    color: #21212140;
                    font-size: 18px;
                    font-family: var(--font-onest);
                }
            }

            &__button.wpcf7-submit.wcl-button {
                border: none;
                text-align: center;
                width: 100%;
                font-size: 18px;
                font-weight: 700;
                border-radius: 30px;
                margin: 24px 0 0;
                padding: 16px;
            }
        }

        .wpcf7-form-control-wrap {
            width: 100%;
        }

        .wpcf7-form-control {
            width: 100%;
            margin: 5px 0 5px;
        }

        .wpcf7-form-control:not(.wpcf7-form__button) {
            border: 1px solid #3d7e7180;
            border-radius: 15px;
            font-size: 18px;
            line-height: 1;
            padding: 16px;
        }

        .wpcf7-form-control::placeholder {
            color: #21212140;
            font-size: 18px;
        }

        .wpcf7-form-control:focus::placeholder {
            color: transparent;
        }

        .wpcf7 form .wpcf7-response-output {
            margin: 0;
            padding: 0;
            text-align: center;
            border-color: transparent;
            border: none;
        }

        .wpcf7 form.invalid .wpcf7-response-output,
        .wpcf7 form.failed .wpcf7-response-output,
        .wpcf7 form.unaccepted .wpcf7-response-output,
        .wpcf7 form.payment-required .wpcf7-response-output {
            border: none;
            color: #dc3232;
            font-size: 16px;
        }

        .wpcf7 form.sent .wpcf7-response-output {
            border: none;
            color: #46b450;
            font-size: 16px;
        }

        .wpcf7-not-valid-tip {
            margin-bottom: 0;
        }

        .wpcf7-spinner {
            margin-top: 5px;
        }
    }

    &__contacts {
        width: 100%;
        max-width: calc(50% - 12px);
        background-color: var(--white-color);
        border-radius: 35px;
        padding: 45px 55px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $media-lg) {
            max-width: 100%;
            padding: 30px;
        }

        @media screen and (max-width: $media-md) {
            padding: 30px 15px;
        }
    }

    &__contacts-title {
        margin-bottom: 45px;

        @media screen and (max-width: $media-lg) {
            text-align: center;
            margin-bottom: 35px;
        }
    }

    &__contacts-list {
        display: flex;
        flex-direction: column;
        gap: 34px;
        margin-bottom: 42px;

        @media screen and (max-width: $media-lg) {
            flex-direction: row;
            gap: 24px;
        }

        @media screen and (max-width: $media-md) {
            flex-direction: column;
        }
    }

    &__contacts-items {
        display: flex;
        flex-direction: column;
        gap: 34px;

        @media screen and (max-width: $media-lg) {
            gap: 24px;
            width: calc(50% - 17px);
        }

        @media screen and (max-width: $media-md) {
            width: 100%;
        }
    }

    &__contacts-item {
        display: flex;
        gap: 14px;

        @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: center;
        }

        &:first-child {
            .wcl-contact__contacts-item-connect {
                max-width: 290px;
                width: fit-content;
            }
        }

        h4 {
            font-size: 18px;
            margin-bottom: 15px;
        }
    }

    &__contacts-item-icon {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: var(--bg-color);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 38px;
            height: 38px;
            object-fit: contain;
            object-position: center;
        }
    }

    &__contacts-item-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;

        @media screen and (max-width: 450px) {
            align-items: center;
        }
    }

    &__contacts-item-title {
        
        @media screen and (max-width: 450px) {
            text-align: center;
        }
    }

    &__contacts-item-connect {
        width: fit-content;
        position: relative;
        text-decoration: none;
        color: inherit;
        overflow-wrap: break-word;
        word-break: break-word;
        transition: var(--transition);

        @media screen and (max-width: 450px) {
            text-align: center;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: var(--green-color);
            transition: var(--transition);
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--green-color);
            }

            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }

    &__contacts-item-connects {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 450px) {
            align-items: center;
        }
    }

    &__contacts-item-block {
        display: flex;
        flex-direction: column;
    }

    &__contacts-item-period {
        display: flex;
        gap: 5px;
    }

    &__contacts-item-days {
        text-wrap: balance;
    }

    &__contacts-item-hours {
        text-wrap: balance;
    }

    &__contacts-social-item {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media screen and (max-width: $media-lg) {
            align-items: center;
        }
    }

    &__contacts-item-socials {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__contacts-item-social {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--green-color);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.25);
                }
            }
        }

        img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            object-position: center;
            transition: var(--transition);
        }
    }
}
