:root {
  // Color
  --white-color: #FFF;
  --black-color: #000;
  --dark-color: #222;
  --green-color: #3D7E71;
  --green-hover: rgb(61, 127, 114, .5);

  // Other
  --transition: all .25s ease-in;
}