@import "assets/scss/utils/media";
@import "assets/scss/utils/mixings";

.wcl-advantages {
    @include adaptiveValue("margin-top", 125, 50, 0, 1440, 375);
    @include adaptiveValue("margin-bottom", 125, 50, 0, 1440, 375);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-color);
        border-radius: 35px;
        padding: 75px 15px 85px;
        overflow: hidden;

        @media screen and (max-width: 1920px) {
            border-radius: 0    ;
        }
    }

    &__header {
        width: 100%;
        max-width: 636px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        overflow: hidden;
        @include adaptiveValue("margin-bottom", 55, 25, 0, 1440, 375);
    }

    &__title {
        text-align: center;
        margin-bottom: 15px;
    }

    &__text {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }

    &__content.wcl-section-inner {
        padding: 0;
        display: flex;
        justify-content: space-between;
        gap: 24px;

        @media only screen and (max-width: $media-lg) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media only screen and (max-width: $media-sm) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__item {
        background-color: var(--white-color);
        width: 100%;
        border-radius: 35px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media only screen and (max-width: $media-xl) {
            padding: 35px 20px;
            max-width: 368px;
        }

        @media only screen and (max-width: 850px) {
            max-width: 300px;
        }

        @media only screen and (max-width: $media-md) {
            max-width: 250px;
        }

        @media only screen and (max-width: $media-sm) {
            max-width: 100%;
            padding: 20px;
        }
    }

    &__item-icon {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color);

        img {
            width: 38px;
            height: 38px;
            object-fit: contain;
            object-position: center;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
    }

    &__item-title {
        margin-bottom: 10px;
    }

    &__item-text {
        font-size: 16px;
    }
}