.wcl-states__container.wcl-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 35px;
  padding: 55px 0;
  overflow: hidden;
}
.wcl-states__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.wcl-states__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 20px;
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
}
.wcl-states__state {
  text-wrap: balance;
  overflow-wrap: break-word;
  word-break: break-word;
  transition: var(--transition);
}
.wcl-states__icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--green-color);
  background-color: var(--bg-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wcl-states__icon svg {
  transition: var(--transition);
  width: 20px;
  height: 20px;
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  @supports (margin-top: clamp( 1.875rem , 1.3248239437rem  +  2.3474178404vw , 3.4375rem )) {
    .wcl-states {
      margin-top: clamp( 1.875rem , 1.3248239437rem  +  2.3474178404vw , 3.4375rem );
    }
  }
  @supports not (margin-top: clamp( 1.875rem , 1.3248239437rem  +  2.3474178404vw , 3.4375rem )) {
    .wcl-states {
      margin-top: calc(1.875rem + 1.5625 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (margin-bottom: clamp( 2.5rem , 1.1795774648rem  +  5.6338028169vw , 6.25rem )) {
    .wcl-states {
      margin-bottom: clamp( 2.5rem , 1.1795774648rem  +  5.6338028169vw , 6.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 1.1795774648rem  +  5.6338028169vw , 6.25rem )) {
    .wcl-states {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (gap: clamp( 1.5625rem , 0.9022887324rem  +  2.8169014085vw , 3.4375rem )) {
    .wcl-states__container.wcl-section {
      gap: clamp( 1.5625rem , 0.9022887324rem  +  2.8169014085vw , 3.4375rem );
    }
  }
  @supports not (gap: clamp( 1.5625rem , 0.9022887324rem  +  2.8169014085vw , 3.4375rem )) {
    .wcl-states__container.wcl-section {
      gap: calc(1.5625rem + 1.875 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (font-size: clamp( 1.25rem , 1.161971831rem  +  0.3755868545vw , 1.5rem )) {
    .wcl-states__state {
      font-size: clamp( 1.25rem , 1.161971831rem  +  0.3755868545vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.161971831rem  +  0.3755868545vw , 1.5rem )) {
    .wcl-states__state {
      font-size: calc(1.25rem + 0.25 * (100vw - 23.4375rem) / 66.5625);
    }
  }
}
@media (min-width: 90em) {
  .wcl-states {
    margin-top: 3.4375rem;
  }
  .wcl-states {
    margin-bottom: 6.25rem;
  }
  .wcl-states__container.wcl-section {
    gap: 3.4375rem;
  }
  .wcl-states__state {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1920px) {
  .wcl-states__container.wcl-section {
    border-radius: 0;
  }
}
@media only screen and (max-width: 1280px) {
  .wcl-states__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 992px) {
  .wcl-states__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .wcl-states__container.wcl-section {
    padding: 30px 15px;
  }
  .wcl-states__list {
    gap: 15px;
  }
  .wcl-states__item {
    padding: 15px;
  }
  .wcl-states__icon {
    width: 40px;
    height: 40px;
  }
  .wcl-states__icon svg {
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .wcl-states__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 23.4375em) {
  .wcl-states {
    margin-top: 1.875rem;
  }
  .wcl-states {
    margin-bottom: 2.5rem;
  }
  .wcl-states__container.wcl-section {
    gap: 1.5625rem;
  }
  .wcl-states__state {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .wcl-states__item:hover {
    border-color: var(--green-color);
  }
  .wcl-states__item:hover .wcl-states__state {
    color: var(--green-color);
  }
  .wcl-states__item:hover .wcl-states__icon svg {
    animation: email 1s ease 0s 1 normal forwards;
  }
  @keyframes email {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(200%);
      opacity: 0;
    }
    75% {
      transform: translateX(-200%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
