:root {
  --white-color: #FFF;
  --black-color: #000;
  --dark-color: #222;
  --green-color: #3D7E71;
  --green-hover: #ADC7C2;
  --bg-color: #F9F9F9;
  --transition: all .25s ease-in;
  --font-onest: "Onest", sans-serif;
}

[class*="--anim"] {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}
[class*="--anim"].show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease 0s;
}

.anim-left {
  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
}
.anim-left--anim-delay.show-left {
  transition: all 1.5s ease 0.5s;
}
.anim-left.show-left {
  transition: all 1s ease 0s;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.anim-right {
  transform: translateX(100px);
  opacity: 0;
  visibility: hidden;
}
.anim-right.show-right {
  transition: all 1s ease 0s;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root :where(.acf-innerblocks-container) > :first-child,
:root :where(.wcl-container) > :first-child,
:root :where(.wcl-content) > :first-child {
  margin-block-start: 0;
}

:root :where(.acf-innerblocks-container) > :last-child,
:root :where(.wcl-container) > :last-child,
:root :where(.wcl-content) > :last-child {
  margin-block-end: 0;
}

:root :where(.acf-innerblocks-container) > *,
:root :where(.wcl-container) > *,
:root :where(.wcl-content) > * {
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-onest);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.35;
  color: var(--dark-color);
  background-color: var(--white-color);
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.wcl-body-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.wcl-section,
.wcl-container {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.wcl-section-inner {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
.wcl-h1,
h2,
.wcl-h2,
h3,
.wcl-h3,
h4,
.wcl-h4,
h5,
.wcl-h5,
h6,
.wcl-h6 {
  font-weight: 500;
  line-height: 1.25;
}

h4,
.wcl-h4 {
  font-size: 1.5rem;
}

h5,
.wcl-h5 {
  font-size: 1.25rem;
}

h6,
.wcl-h6 {
  font-size: 1.125rem;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

input,
textarea {
  border-radius: 0;
}

a,
button {
  display: inline-block;
  transition: all 0.25s ease-in-out;
}

span {
  display: inline-block;
}

strong,
b {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.grecaptcha-badge {
  z-index: 9;
}

.wcl-button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 30px;
  text-align: center;
  flex-shrink: 0;
  transition: var(--transition);
}
.wcl-button:focus {
  outline: none;
}
.wcl-button:active, .wcl-button:focus, .wcl-button:hover {
  box-shadow: none;
  outline: none;
}
.wcl-button--green {
  background-color: var(--green-color);
  color: var(--white-color);
  border: 1px solid var(--green-color);
}
.wcl-button--green:hover {
  background-color: var(--green-hover);
  color: var(--green-color);
}
.wcl-button--white {
  background-color: var(--white-color);
  color: var(--green-color);
  border: 1px solid var(--green-color);
}
.wcl-button--white:hover {
  background-color: var(--green-hover);
}

@font-face {
  font-family: "social-links";
  src: url("../fonts/social-links.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "social-links" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.twitter:before {
  content: "\e900";
}

.facebook:before {
  content: "\f09a";
}

.linkedin:before {
  content: "\f0e1";
}

.instagram:before {
  content: "\f16d";
}

.google:before {
  content: "\f1a0";
}

.whatsapp:before {
  content: "\ea93";
}

/** Style */
.wcl-social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
.wcl-social-links a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  padding: 10px 16px;
  color: var(--primary-color);
  border-radius: 16px;
  border: 1px solid var(--primary-color);
}
.wcl-social-links i {
  font-size: 20px;
}

.menu-icon:after, .menu-icon:before, .menu-icon span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.125em;
  background-color: #222222;
  width: 0.75em;
  height: 0.05em;
  border-radius: 0;
}

.menu-icon {
  font-size: 48px;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  display: none;
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  cursor: pointer;
}
.menu-icon span {
  margin-top: -0.025em;
}
.menu-icon:before {
  content: "";
  margin-top: -0.275em;
}
.menu-icon:after {
  content: "";
  margin-top: 0.225em;
}
.menu-icon span {
  background-color: #222222;
  transition: 0.2s ease-in-out 0.2s;
}
.menu-icon:before, .menu-icon:after {
  transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
}
.menu-icon.is-open span {
  background-color: rgba(34, 34, 34, 0);
  transition-delay: 0s;
}
.menu-icon.is-open:before, .menu-icon.is-open:after {
  margin-top: 0;
  transition-delay: 0s, 0.25s, 0.25s;
}
.menu-icon.is-open:before {
  transform: rotate(45deg);
}
.menu-icon.is-open:after {
  transform: rotate(-45deg);
}

.wcl-header {
  position: relative;
  z-index: 10;
}
.wcl-header__container {
  padding-top: 13px;
  padding-bottom: 13px;
}
.wcl-header__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.wcl-header__logo {
  width: 100%;
  max-width: 150px;
  height: 54px;
}
.wcl-header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
.menu__body {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
}
.menu .menu-item {
  padding: 12px 7px;
}
.menu .menu-item a {
  text-decoration: none;
  color: inherit;
  position: relative;
  font-family: inherit;
  line-height: 1;
  font-weight: 500;
  padding: 3px;
  transition: var(--transition);
}
.menu .menu-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1.5px;
  background-color: var(--dark-color);
  transition: var(--transition);
}

.wcl-footer__container {
  color: var(--white-color);
  background-color: var(--green-color);
  font-size: 16px;
  border-radius: 35px;
  padding: 75px 15px 85px;
  overflow: hidden;
}
.wcl-footer__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.wcl-footer__content {
  width: 100%;
  max-width: 306px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wcl-footer__logo {
  height: 52px;
  width: 145px;
}
.wcl-footer__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left center;
     object-position: left center;
}
.wcl-footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wcl-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: var(--transition);
}
.wcl-footer__social img {
  width: 14px;
  height: 14px;
  filter: invert(48%) sepia(35%) saturate(511%) hue-rotate(118deg) brightness(83%) contrast(90%);
}
.wcl-footer__products, .wcl-footer__services, .wcl-footer__menu {
  display: flex;
  flex-direction: column;
}
.wcl-footer__products-title, .wcl-footer__services-title, .wcl-footer__menu-title {
  margin-bottom: 20px;
}
.wcl-footer__products-list, .wcl-footer__services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wcl-footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wcl-footer__menu-list .menu-item a {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  transition: var(--transition);
}
.wcl-footer__menu-list .menu-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: var(--white-color);
  transition: var(--transition);
}
.wcl-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  font-size: 14px;
}
.wcl-footer__bottom-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px 20px;
}
.wcl-footer__bottom-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}
.wcl-footer__bottom-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: var(--green-color);
  transition: var(--transition);
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  @supports (font-size: clamp( 2rem , 1.2957746479rem  +  3.0046948357vw , 4rem )) {
    h1,
    .wcl-h1 {
      font-size: clamp( 2rem , 1.2957746479rem  +  3.0046948357vw , 4rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.2957746479rem  +  3.0046948357vw , 4rem )) {
    h1,
    .wcl-h1 {
      font-size: calc(2rem + 2 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (font-size: clamp( 1.75rem , 1.573943662rem  +  0.7511737089vw , 2.25rem )) {
    h2,
    .wcl-h2 {
      font-size: clamp( 1.75rem , 1.573943662rem  +  0.7511737089vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.573943662rem  +  0.7511737089vw , 2.25rem )) {
    h2,
    .wcl-h2 {
      font-size: calc(1.75rem + 0.5 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (font-size: clamp( 1.375rem , 1.3309859155rem  +  0.1877934272vw , 1.5rem )) {
    h3,
    .wcl-h3 {
      font-size: clamp( 1.375rem , 1.3309859155rem  +  0.1877934272vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.3309859155rem  +  0.1877934272vw , 1.5rem )) {
    h3,
    .wcl-h3 {
      font-size: calc(1.375rem + 0.125 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (font-size: clamp( 1.375rem , 1.3309859155rem  +  0.1877934272vw , 1.5rem )) {
    .wcl-footer__products-title, .wcl-footer__services-title, .wcl-footer__menu-title {
      font-size: clamp( 1.375rem , 1.3309859155rem  +  0.1877934272vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.3309859155rem  +  0.1877934272vw , 1.5rem )) {
    .wcl-footer__products-title, .wcl-footer__services-title, .wcl-footer__menu-title {
      font-size: calc(1.375rem + 0.125 * (100vw - 23.4375rem) / 66.5625);
    }
  }
}
@media (min-width: 90em) {
  h1,
  .wcl-h1 {
    font-size: 4rem;
  }
  h2,
  .wcl-h2 {
    font-size: 2.25rem;
  }
  h3,
  .wcl-h3 {
    font-size: 1.5rem;
  }
  .wcl-footer__products-title, .wcl-footer__services-title, .wcl-footer__menu-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1920px) {
  .wcl-footer__container {
    border-radius: 0;
  }
}
@media screen and (max-width: 1024px) {
  .wcl-footer__body {
    flex-wrap: wrap;
    gap: 40px;
  }
  .wcl-footer__content {
    max-width: calc(50% - 20px);
    order: 1;
  }
  .wcl-footer__products {
    order: 3;
  }
  .wcl-footer__services {
    order: 4;
  }
  .wcl-footer__products, .wcl-footer__services, .wcl-footer__menu {
    width: 100%;
    max-width: calc(50% - 20px);
  }
  .wcl-footer__menu {
    order: 2;
  }
  .wcl-footer__bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  .wcl-footer__bottom-text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .menu-icon {
    display: inline-block;
  }
  .menu {
    overflow: hidden;
  }
  .menu__body {
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    z-index: 10;
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    right: -100%;
    top: 60px;
    overflow: auto;
    padding: 50px 30px 100px;
    transition: right 0.5s ease-in-out 0s;
  }
  .menu__body.is-open {
    right: 0;
  }
  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 15px;
  }
  .menu .menu-item {
    font-size: 20px;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .wcl-section,
  .wcl-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  h4,
  .wcl-h4 {
    font-size: 1.375rem;
  }
  h5,
  .wcl-h5 {
    font-size: 1.125rem;
  }
  h6,
  .wcl-h6 {
    font-size: 1rem;
  }
  .wcl-button {
    padding: 12px 24px;
    font-size: 16px;
  }
  .wcl-header__container {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .wcl-header__logo {
    max-width: 120px;
    height: 48px;
  }
}
@media screen and (max-width: 768px) {
  .menu .menu-item a {
    font-weight: 600;
  }
}
@media screen and (max-width: 576px) {
  .wcl-footer__body {
    flex-direction: column;
    align-items: center;
  }
  .wcl-footer__content {
    align-items: center;
    max-width: 100%;
  }
  .wcl-footer__logo img {
    -o-object-position: center;
       object-position: center;
  }
  .wcl-footer__text {
    text-align: center;
  }
  .wcl-footer__products, .wcl-footer__services, .wcl-footer__menu {
    align-items: center;
    max-width: 100%;
  }
  .wcl-footer__products-title, .wcl-footer__services-title, .wcl-footer__menu-title {
    text-align: center;
  }
  .wcl-footer__products-list, .wcl-footer__services-list {
    align-items: center;
  }
  .wcl-footer__menu-list {
    align-items: center;
  }
}
@media (max-width: 23.4375em) {
  h1,
  .wcl-h1 {
    font-size: 2rem;
  }
  h2,
  .wcl-h2 {
    font-size: 1.75rem;
  }
  h3,
  .wcl-h3 {
    font-size: 1.375rem;
  }
  .wcl-footer__products-title, .wcl-footer__services-title, .wcl-footer__menu-title {
    font-size: 1.375rem;
  }
}
@media (any-hover: hover) {
  .menu .menu-item a:hover::before {
    width: 100%;
    left: 0;
  }
  .wcl-footer__social:hover {
    transform: scale(1.2);
  }
  .wcl-footer__menu-list .menu-item a:hover::before {
    left: 0;
    width: 100%;
  }
  .wcl-footer__bottom-link:hover {
    color: var(--green-color);
  }
  .wcl-footer__bottom-link:hover::before {
    left: 0;
    width: 100%;
  }
}
@media (hover: hover) and (pointer: fine) {
  .wcl-social-links a:hover {
    color: var(--milc-color);
    background: var(--primary-color);
  }
}
