@import "assets/scss/utils/media";
@import "assets/scss/utils/mixings";

.wcl-choose {
    @include adaptiveValue("margin-top", 125, 50, 0, 1440, 375);
    @include adaptiveValue("margin-bottom", 125, 50, 0, 1440, 375);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    &__header {
        width: 100%;
        max-width: 636px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        @include adaptiveValue("margin-bottom", 55, 25, 0, 1440, 375);
    }

    &__title {
        text-align: center;
        margin-bottom: 15px;
    }

    &__text {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        @media only screen and (max-width: $media-lg) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media only screen and (max-width: $media-sm) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__item {
        width: 100%;
        max-width: 368px;
        border-radius: 35px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        @media only screen and (max-width: 900px) {
            max-width: 300px;
        }

        @media only screen and (max-width: $media-md) {
            max-width: 250px;
        }

        @media only screen and (max-width: $media-sm) {
            max-width: 100%;
        }
    }

    &__item-icon {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color);

        @media only screen and (max-width: $media-md) {
            width: 100px;
            height: 100px;
        }

        @media only screen and (max-width: $media-sm) {
            width: 80px;
            height: 80px;
        }

        img {
            width: 74px;
            height: 74px;
            object-fit: contain;
            object-position: center;

            @media only screen and (max-width: $media-md) {
                width: 50px;
                height: 50px;
            }

            @media only screen and (max-width: $media-sm) {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;

        @media only screen and (max-width: $media-lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__item-title {
        text-align: center;
        margin-bottom: 10px;
    }

    &__item-text {
        text-align: center;
        font-size: 16px;
    }
}