.wcl-solutions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wcl-solutions__header {
  width: 100%;
  max-width: 636px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.wcl-solutions__title {
  text-align: center;
  margin-bottom: 15px;
}
.wcl-solutions__text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.wcl-solutions__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.wcl-solutions__item {
  background-color: var(--bg-color);
  border-radius: 35px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}
.wcl-solutions__item-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.wcl-solutions__item-title {
  margin-bottom: 10px;
}
.wcl-solutions__item-text {
  font-weight: 500;
  font-size: 16px;
}
.wcl-solutions__item-image {
  width: 100%;
  height: auto;
  border-radius: 30px;
  aspect-ratio: 376/232;
  overflow: hidden;
  margin-top: auto;
}
.wcl-solutions__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 23.4375em) and (max-width: 90em) {
  @supports (margin-top: clamp( 3.125rem , 1.474471831rem  +  7.0422535211vw , 7.8125rem )) {
    .wcl-solutions {
      margin-top: clamp( 3.125rem , 1.474471831rem  +  7.0422535211vw , 7.8125rem );
    }
  }
  @supports not (margin-top: clamp( 3.125rem , 1.474471831rem  +  7.0422535211vw , 7.8125rem )) {
    .wcl-solutions {
      margin-top: calc(3.125rem + 4.6875 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (margin-bottom: clamp( 3.125rem , 1.474471831rem  +  7.0422535211vw , 7.8125rem )) {
    .wcl-solutions {
      margin-bottom: clamp( 3.125rem , 1.474471831rem  +  7.0422535211vw , 7.8125rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 1.474471831rem  +  7.0422535211vw , 7.8125rem )) {
    .wcl-solutions {
      margin-bottom: calc(3.125rem + 4.6875 * (100vw - 23.4375rem) / 66.5625);
    }
  }
  @supports (margin-bottom: clamp( 1.5625rem , 0.9022887324rem  +  2.8169014085vw , 3.4375rem )) {
    .wcl-solutions__header {
      margin-bottom: clamp( 1.5625rem , 0.9022887324rem  +  2.8169014085vw , 3.4375rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.9022887324rem  +  2.8169014085vw , 3.4375rem )) {
    .wcl-solutions__header {
      margin-bottom: calc(1.5625rem + 1.875 * (100vw - 23.4375rem) / 66.5625);
    }
  }
}
@media (min-width: 90em) {
  .wcl-solutions {
    margin-top: 7.8125rem;
  }
  .wcl-solutions {
    margin-bottom: 7.8125rem;
  }
  .wcl-solutions__header {
    margin-bottom: 3.4375rem;
  }
}
@media only screen and (max-width: 1024px) {
  .wcl-solutions__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .wcl-solutions__item:nth-child(3) {
    grid-column: span 2;
    max-width: 500px;
    margin: 0 auto;
  }
  .wcl-solutions__item-content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .wcl-solutions__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .wcl-solutions__item:nth-child(3) {
    grid-column: span 1;
    max-width: 100%;
  }
}
@media (max-width: 23.4375em) {
  .wcl-solutions {
    margin-top: 3.125rem;
  }
  .wcl-solutions {
    margin-bottom: 3.125rem;
  }
  .wcl-solutions__header {
    margin-bottom: 1.5625rem;
  }
}
